<h1>My Quotes</h1>
<hr>

<ul>
  <div *ngFor='let quote for quotes;let i = index'>
    <li>{{quotes.name}}</li>
    <button (click)='toggleDetails(i)'>Toggle Details</button>
    <app-goal-detail *ngIf='quotes.showDescription' [quotes]= 'quotes'></app-goal-detail>
  </div>

<div><button>{{quotes.likes}}<i class="fa fa-thumbs-up"></i></button>

</div>
<div><button>{{quotes.dislikes}}<i class="fa fa-thumbs-down"></i> </button></div>

<button><i class="fa fa-trash-o"></i></button>

</ul>

<!-- <h4>
  {{ quote.author}} Quoted:{{quote.dateQuoted|datePipe}}
</h4>
<ul>
  <div *ngFor='let quote of quotes;let i = index'>
    <li>{{quotes.name}}</li>
    <button (click)='toggleDetails(i)'>Toggle Details</button>
    <app-quotes-detail *ngIf='quotes.showDescription' [quotes]='quotes'></app-quotes-detail>
  </div> -->
