<div class="container">
  <h1>My Quotes</h1>
  <hr>

  <div class="row">
      <div class="col-md-6">
          <div *ngFor='let quote of quotes; let i = index'>
              <div>
                  <h4 id={{i}} appStrikethrough>{{quotes.name}} date posted; {{quotes.quotedDate|date|uppercase}}</h4>
                  <button (click)='toggleDetails(i)' class="btn btn-primary">Toggle Details</button>
              </div>
              <div *ngIf='quotes.showDescription'>
                  <app-quotes-detail  [quotes]='quote' (isComplete) = 'deleteQuotes($event,i)'></app-quotes-detail>
              </div>
          </div>
      </div>

      <div class="col-md-6">
        <app-quote-form></app-quote-form>
      </div>
</div>
